<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Digital Profile</title>
    <link rel="stylesheet" href="{% static 'offered_courses.css' %}">
  </head>

  </script>

  <body>
    <section class="container">
      <div class="content">
        <h2>Digital Profile</h2>
      </div>
      <div>
        <input type="text" placeholder="Search..">
        <a href="#"><button type="button" class="btn btn-warning px-3">Search</button></a>
      </div>
    </section>
  </body>
</html>